* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    min-height: 55px;
    display: flex;
    align-items: center;
    width: 95%;
    margin:auto;
    font-family:
}
nav ul {
    display: flex;
    flex: auto;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-left: 25%;
}
.headerimage {
    text-align: center;
    background:url(https://images.pexels.com/photos/3483098/pexels-photo-3483098.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color:black;
    min-height: 70px;
    background-color: blanchedalmond;
    padding-top: 15px;
}
h2 {
    font-size: 2rem;
    letter-spacing: 0.05em;
}
h1 {
    font-size: 3rem;
}
a {
    text-decoration: none;
    color:gray;
}
.navlink {
    font-size: 1.5rem;

}
.main-header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);

}
#title {
    flex: auto;
}
  a {
    color:black;
    text-decoration: none;
    letter-spacing: 0.10em;
    display: inline-block;
    padding: 15px 5px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 1;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(0, 0, 0);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  .bodytitle {
      background-color: rgba(255, 255, 255, 0.75);
      margin: auto;
      width: 30%;
      padding: 10px;
  }
  .rounded {
    border-radius: 15px;
    border: black 2px solid;
  }
.btn1 {
    border-radius: 5px;
    border: none;
    background-color:#227093;
    letter-spacing: 0.15em;
    color: white;
    padding: 6px;
}
.btn2 {
    border-radius: 5px;
    border: none;
    background-color:#227093;
    letter-spacing: 0.15em;
    color: white;
    padding: 6px;
}
.cardgroup {
    min-height: 55px;
    display: flex;
    align-items: center;
    width: 95%;
    margin:auto;
}
.card {
    width: 30%;
    padding-top: 15px;
    font-size: 15px;
    text-align: center;
    margin: auto;
    padding: auto;
}
.cardheader {
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;

}
.big {
    font-size: 4rem;
    margin-top: 100px;
    margin-bottom: 30px;
}
.container {
    text-align: center;
    padding: 25px 20px;
}
.shadow {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.w-400 {
    width: 400px;
    padding: 0px;
}
.margintop {
    margin-top: 150px;
}
.marginbottom{
    margin-bottom: 150px;
}
.footer {
    height: 100px;
    padding-left: 20px;
}
